@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 0 0 100;
    --foreground-hsl: 113 24 7;
    --accent-hsl: 0 0 93;
    /* --primary: 140 49 53; */
    --primary: 149 49 53;
    --primary-accent:184 54 52;
  }

  .dark {
     --background-hsl: 113 24 7;
     --foreground-hsl: 0 0 100;
     --accent-hsl: 0 0 19;
     --primary: 140 49 53;
     --primary-accent:184 54 52;
   }

   
   }
  
   @layer base {


    body {
      @apply bg-background
    }
    
   }
