@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 240 8 97;
    --foreground-hsl: 113 24 7;
    --accent-hsl: 0 0 93;
    --primary: 140 49 53;
  }

  .dark {
     --background-hsl: 113 24 7;
     --foreground-hsl: 240 8 97;
     --accent-hsl: 0 0 19;
     --primary: 140 49 53;
   }
   }
  
   @layer base {
 
   }